form {
    
        width: 90%;
        border: 0;
        border-bottom: 1px solid rgba($grey, 0.5);
        font-size: 13px;
        font-weight: 300;
        color: #797A9E;
        letter-spacing: 0.11em;

        
    }
}